body {
  margin: 0;
  background: black;
}

.container {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh; /* vertically center with mobile address bar */
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button {
  margin: 0.5em;
}
