body {
  margin: 0;
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh; /* vertically center with mobile address bar */
  overflow: hidden;
}

button {
  margin: 0.5em;
}
