.container {
  display: grid;
  grid-template-rows: 50px 45vh 25vh 20vh;
  background: white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerText {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.image > img {
  object-fit: cover;
}

.infoSectionContainer {
  /* border: solid black; */
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoColumn {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  text-align: center;
}

.fieldLabel {
  font-weight: bold;
  text-align: right;
}
