.container {
  display: grid;
  grid-template-rows: 50px 90vh;
  background: white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerText {
  display: flex;
  align-items: center;
}

.swiperContainer {
  width: 100vw;
}
